
<!-- classroom -->

<body>
  
    <div id="classroom">

         <!--class details edit -->
         <% if(locals.user.id == classroom.creator.id){ %> 
            <div class="class-form" style="margin: 6% 3% 3% 6%;">
                <h1>Class Details</h1>
                <form action="/class/update/<%= classroom.id %>" method="post" class="class-info">
                    <div class="class-detail">
                        <p>Class Name *</p>
                        <input type="text" name="className" placeholder="<%= classroom.className %>" required>
                    </div>
                    <div class="class-detail">
                        <p>Section</p>
                        <input type="text" name="section" placeholder="<%= classroom.section %>" required>
                    </div>
                    <div class="class-detail">
                        <p>Subject</p>
                        <input type="text" name="subject" placeholder="<%= classroom.subject %>">
                    </div>
                    <div>
                        <input type="submit" value="update">
                    </div>
                </form>
            </div>
              
           <div class="class-link">
                <!-- class link -->
                <div>
                    <p style="margin-bottom: -1px;">Invite Link</p>
                    <p><%= classroom.classLink %></p>
                </div>

                <!-- class start -->
                <div class="start-class">
                    <a href="/class/start/<%= classroom._id %>">start</a>
                </div>
           </div>

         <%}%>

    </div>

</body>