

<body id="live-class">

   <!-- teacher student live class(video, audio, chat) -->
    <div class="main">
       
      <div class="main__left">
           
         <div class="main__videos">
            <div id="video-grid"></div>
         </div>

         <div class="main__controls">
              
            <div class="main__controls__block">
                 
               <!-- audio btn -->
               <div onclick="muteUnmute()" 
                class="main__controls__button main__mute_button"
               >
                  <i class="fas fa-microphone"></i>
                  <span>Mute</span>
               </div>
                 
               <!-- video btn -->
               <div onclick="playStop()" 
                 class="main__controls__button main__video_button" 
               >
                  <i class="fas fa-video"></i>
                  <span>Stop Video</span>
               </div>

               <!-- screen share btn -->
               <div onclick="shareScreen()"
               class="main__controls__button"
               >
                  <i class="fas fa-upload"></i>
                  <span id="start-share">Share Screen</span>
                  <span id="stop-share">Stop Share</span>
               </div>
              
            </div>

            <div class="main__controls__block">
                   
               <!-- participants btn -->
               <div class="main__controls__button" onclick="showParticipants()">
                  <i class="fas fa-user-friends"></i>
                  <span>Participants</span>
               </div>
                 
               <!-- chat btn -->
               <div class="main__controls__button" onclick="chatShow()">
                  <i class="fas fa-comment-alt"></i>
                  <span>Chat</span>
               </div>

               <!-- board btn -->
               <div class="main__controls__button" onclick="whiteBoard()">
                  <i class="fas fa-pencil-alt"></i>
                  <span>White Board</span>
               </div>

            </div>
            
              <!-- leave meeting -->
            <div class="main__controls__block">
               <div class="main__controls__button">
                  <span class="leave_meeting">
                     <a href="/user/profile"> Leave Meeting</a>
                  </span>
               </div>
             </div>

         </div>
      </div>

      <!-- showing chat messages list -->
      <div class="main__right" id="main__right__chat">
         
         <div class="main__header">
            <h6>Chat Messages</h6>
         </div>
           
         <div class="main__chat_window">
            <ul class="messages">
            </ul>
         </div>

         <div class="main__message_container">
            <input id="chat_message" type="text" placeholder="Type message here...">
         </div>
      </div>

      <!-- showing participants list -->
      <div class="main__right" id="main__right__participants">
         
         <div class="main__header">
            <h6>Participants</h6>
         </div>
           
         <div class="participants_list">
            <ol id="participants">
                  <li style="color: white;">
                     <span style="color: white; text-transform: capitalize;">
                        <%= locals.user.username %>
                     </span>
                  </li>   
            </ol>
         </div>

      </div>

   </div>

   <script>
      const ROOM_ID = '<%= roomId %>'
      const USER_ID = '<%= userId %>'
      const USER_NAME = '<%= userName%>'
      const USER_EMAIL = '<%= userEmail%>'
   </script>

   
</body>